.edit-ticket {
  width: calc(100% - 200px);
}
.edit-ticket-heading {
  margin: 2% 0 2% 4%;
  text-align: center;
}
.edit-ticket-form {
  width: 60%;
  margin: auto;
  padding: 5%;
}
.edit-btn {
  background-color: rgb(85, 236, 173);
  border: 1px solid rgb(85, 236, 173);
  color: black;
}
.edit-btn:hover {
  background-color: rgb(6, 168, 101);
}
